.navbar {
  border-bottom: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-logoutPage {
  border-radius: 5;
  border: 1px solid black;
}

.App-logo{
  width: 80px;
}

.bg-primary {
  background-image: linear-gradient(to bottom right, rgb(21, 134, 255),  #007BFF, rgb(0, 50, 103));
}

#logoText{
  color: white;
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
   text-shadow:
    3px 3px 0 #000;
}