.displayContainer {
  background: #ECEFF1;
  border: 1px black solid;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
