.totalProductsCard {
  background: #fff;
  border-radius: 2px;
  height: 340px;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  position: relative;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.totalProductsCard > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.totalProductsCard > .img-container > img {
  width: 60%;
}

.totalProductsCard > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(21, 134, 255),  #007BFF, rgb(0, 50, 103));
  color: white;
  line-height: 1rem;
  padding-bottom: 1rem;
}

.totalProductsCard > .content > ul > li {
  margin-top: 18px;
}

.totalProductsCard > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.totalProductsCard > .remove:hover {
  color: #d50000;
}

.totalProductsCard > .content > ul > li > a {
  color: white;
}

.totalProductsCard > h5{
  text-align: center;
}
